$font-content: 'DM Sans', sans-serif;
$font-title: 'DM Serif Display';
$blue-main-color: #5c98f2;

#header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background-color: rgba(#f5f5f5, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .ant-menu-overflow {
    font-size: 16px;
    font-family: $font-content;
    background-color: rgba(#f5f5f5, 0.9);
  }

  &.hidden {
    top: -100px;
  }

  &.show {
    top: 0;
  }

  .header-logo {
    font-size: 27px;
    padding-left: 3rem;
    // font-family: $font-title;
    font-weight: bold;
  }

  .icon-header {
    height: 100%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .cart-icon {
      padding: 0.5rem 1.2rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .ant-menu-horizontal {
    border-bottom: none;

    .ant-menu-item {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $blue-main-color;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
      }

      &.ant-menu-item-selected,
      &:hover {
        &::after {
          width: 100%;
        }
      }

      &.active {
        color: $blue-main-color;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
