.appeal-content {
  padding: 24px;
  margin: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-top: 100px; /* Adjust this value to position the table lower */
}

.wrap-text {
  white-space: normal;
  word-wrap: break-word;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.appeal-table {
  .ant-table {
    border-radius: 8px;
  }

  .ant-table-thead > tr > th {
    background-color: #fafafa;
    font-weight: bold;
  }
}
